@baseDark: midnightblue;
@baseBright: lighten(@baseDark, 60%);
@basePadding: 1rem;

.colors (@backgroundColor: @baseDark, @textColor: @baseBright) {
  background-color: @backgroundColor;
  color: @textColor;
}

body {
  margin: 0;
  font-family: 'verdana';
  .colors();
}

.topbar {
  .colors(@baseBright, @baseDark);
}

.topbar {
  h1 {
    padding: @basePadding;
    margin: 0;
  }
}

.content {
  padding: @basePadding;
}

table {
  border: 1px solid @baseBright;
}

table td {
  padding: @basePadding / 2;
}

table th {
  padding: @basePadding / 2;
  .colors(@baseBright, @baseDark);
}
