@baseDark: midnightblue;
@baseBright: lighten(@baseDark, 60%);
@basePadding: 1em;

.colors (@backgroundColor: @baseDark, @textColor: @baseBright) {
  background-color: @backgroundColor;
  color: @textColor;
}

body {
  font-family: 'verdana';
  .colors();
}

table {
  border: 1px solid @baseBright;
}

table td {
  padding: @basePadding / 2;
}

table th {
  padding: @basePadding / 2;
  .colors(@baseBright, @baseDark);
}
