@baseDark: midnightblue;
@baseBright: lighten(@baseDark, 60%);
@basePadding: 1rem;
@thickness: @basePadding / 10;

.colors (@backgroundColor: @baseDark, @textColor: @baseBright) {
  background-color: @backgroundColor;
  color: @textColor;
}

body {
  margin: 0;
  font-family: 'verdana';
  .colors();
}

.bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  .colors(darken(@baseDark, 20%), @baseBright);
  a {
    color: @baseBright;
  }
}

div.main {
  color: @baseBright;
  margin: @basePadding;
}

.navlinks {
}

.navlinks-prev {
  padding-top: @basePadding/2;
  padding-left: @basePadding;
  float: left;
}

.navlinks-next {
  padding-top: @basePadding/2;
  padding-right: @basePadding;
  float: right;
}

div.navigation {
  height: @basePadding*2;
}

.topbar {
  .colors(@baseBright, @baseDark);
  padding: @basePadding;
  img.logo {
    height: @basePadding * 2;
    width: @basePadding * 2;
  }
  div{
    display: inline-block;
  }
  h1 {
    padding: 0;
    margin: 0;
  }
  .small {
    color: lighten(@baseDark, 40%);
  }
}

.menu {
  .colors(darken(@baseDark, 20%), @baseBright);
  a {
    color: @baseBright;
  }
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.menu>ul, .bottom>ul{
  padding-top: @basePadding;
  padding-bottom: @basePadding;
}

.bottom>ul{
  padding-top: 0;
}

.bottom>div{
  padding-left: @basePadding;
}

.small {
  font-size: 0.75rem;
}

.content {
  padding: @basePadding;
  a {
    color: lighten(@baseBright, 20%);
  }
}

table {
  border: @thickness solid @baseBright;
}

table td {
  padding: @basePadding / 2;
}

table th {
  padding: @basePadding / 2;
  .colors(@baseBright, @baseDark);
}
