doctype html
include ./mixins.jade
html
  head
    title= document.title
    !{ getBlock("meta").toHTML() }
    !{ getBlock("styles").add(['/styles/main.css']).toHTML() }
  body
    +head()
    +menu(getCollection("menuTop").toJSON())
    if document.related
      +submenu(getCollection(document.related).toJSON())
    if document.humanDate
      div= document.humanDate
    +title(document.title)
    +content(content)
