doctype html
include ./mixins.jade
html
  head
    title= document.title
    !{ getBlock("meta").toHTML() }
    !{ getBlock("styles").add(['styles/main.css']).toHTML() }
  body
    +head()
    +menu(getCollection("html").findAll({menu: 'top'}).toJSON())
    +title(document.title)
    +content(content)
