doctype html
include ./mixins.jade
head
  title= document.title
  !{ getBlock("meta").toHTML() }
  !{ getBlock("styles").add(['styles/main.css']).toHTML() }
body
  +title(document.title)
  +content(content)
